@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Global CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
ol {
  list-style: none;
}

input {
  background: none;
  border: none;
}

input:focus-visible {
  outline: none;
}

/* Root variables */

:root {
  /* Font weight */
  --thin: 100;
  --extraLight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
}

::-webkit-scrollbar {
  display: none;
}